---
import './global.scss';
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Primary Meta Tags -->
		<title>Hex Nexus - Coming Soon</title>
		<meta name="title" content="Hex Nexus - Coming Soon" />
		<meta name="description" content="Hex Nexus is a creator-first platform designed to bring the VTuber community together in one place. " />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://metatags.io/" />
		<meta property="og:title" content="Hex Nexus - Coming Soon" />
		<meta property="og:description" content="Hex Nexus is a creator-first platform designed to bring the VTuber community together in one place. " />
		<meta property="og:image" content="https://i.ibb.co.com/27FFPYKP/Banner.png" />

		<!-- X (Twitter) -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://metatags.io/" />
		<meta property="twitter:title" content="Hex Nexus - Coming Soon" />
		<meta property="twitter:description" content="Hex Nexus is a creator-first platform designed to bring the VTuber community together in one place. " />
		<meta property="twitter:image" content="https://i.ibb.co.com/27FFPYKP/Banner.png" />

		<!-- Meta Tags Generated with https://metatags.io -->
		<style>
			@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
		</style>

	</head>
	<body>
		<slot />
	</body>
</html>
